.image {
    display:grid;
    font-weight: bold;
    grid-template: "card";


    &__card{
        grid-area: "card";
        display: grid;
        
    }
    &__closeIcon{
        grid-row:1/1;
        grid-column: 1/1;
        display:flex;
        justify-self: flex-end;
        font-size: 30px;
        z-index: 2;
    }
    &__modal{
        grid-row:1/1;
        grid-column: 1/1;
        border-radius: 10px;
        display:flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        background-color: transparent;
        z-index: 3;
        &--hide-modal {
            opacity: 0.2;
        }
        &__buttons-container{
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100px;
        }
    }
    
    &__container {
        width: 100%;
        height: 400px;
        grid-row:1/1;
        grid-column: 1/1;
        border-radius: 10px;
        z-index: 1;
        &--hide-image{
            opacity: 0.2;
        }

        
    }
}